.contents {
    display: flex;
    
    
    &::after {
        content: '';
        display: block;
        height: rem(147px);
    }
}

.contents__left {
    flex-shrink: 0;

    @include screen-sm {
        position: absolute;
        top: 5%;
        left: 0px;
        overflow: hidden;
        // clip: rect(0 0 0 0);
        // height: 100%;
        width: 1px;
        margin: -41px;
        background-color:$lightGreen;
        padding: 0;
        border: 0;
    }
}

.contents__left--shown {
    

    @include screen-sm {
        position: fixed;
        top: 35%;
        left: 0px;
        overflow: hidden;
        z-index: 20;
        // clip: rect(0 0 0 0);
        // height: 100%;
        width: 45%;
        margin: 0px;
        // background-color:rgba($green, 0.8);
        padding: 20px;
        // border: 0;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        color: #000;

        .names {
            padding: rem(20px) rem(20px);
        }
    }

    @include screen-xs {
        width: 65%;
    }
}

.contents__right {
    display: block;
    padding: 0 rem(20px);
}