.form__input {
    padding: rem(10px) rem(20px);
    display: flex;
    position: relative;
}

.form__message {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    color: red;
    font-weight: bold;
}

.form__checkFailed {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translatex(-50%);
    color: red;
    font-weight: bold;
    width: 300px;

    &--last  {
        top: 85%;
    }
}

.form__buttons {
    display: flex;
    width: 100%;
    min-height: rem(45px);
}

.form__btn {
    width: 50%;
    height: 100%;
    padding: rem(15px) rem(15px);
    background-color: $lightGreen;
    font-family: 'robotomedium', sans-serif;
    color: #fff;
    border-left: 2px solid #9fb99d;
    text-align: center;
    
    &:first-child {
        border-left: none;
    }

    &:hover {
        background-color: $green;
    }
}

.form__pic {
    background-color: #f0efe9;
    width: rem(45px);
    height: rem(45px);
    border-radius: 30px 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &.error {
        border: 2px solid red;

        .form__svg {
            fill: red;
        }
    }
}

.form__svg {
    width: rem(17px);
    height: rem(17px);
    fill: #c4cbcd;
}

.form__text {
    display: block;
    padding-bottom: rem(15px);

    @include screen-xs {
        padding-bottom: rem(5px);
    }
}

.form__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 rem(20px);

    @include screen-xs {
        padding: 0 rem(5px);
    }
}

.form__radios {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.form__group {
    color: #fff;
    text-align: center;
    padding: rem(15px) 0;
    position: relative;
    
    &--last {
        margin-bottom: rem(30px);

        @include screen-xs {
            margin-bottom: rem(15px);
        }
    }
}

.form__hidden {
    display: none;
}

.form__switch {

    &--checkbox {
        position: relative;
        width: 20px;
        height: 20px;
        background-color: $green;
        margin-right: rem(20px);
        flex-shrink: 0;
    }

    &--radio {
        position: relative;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: rem(5px);
    }
}

.form__switch--radio,
.form__switch--checkbox,
.form__label, {
    display: inline-block;
    vertical-align: middle;
}

.form__label {
        margin-right: rem(20px);
        color: #fff;
    }

.form__hidden:checked + .form__switch--checkbox::before {
    content: "";
    display: block;
    position: absolute;

    top: 1px;
    right: 2px;
    bottom: 2px;
    left: 7px;
    
    width: 7px; 
    height: 12px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(45deg);
}

.form__hidden:checked + .form__switch--radio::before {
    content: "";
    display: block;
    position: absolute;

    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;

    background: $green;
    border-radius: 50%;
}

.form__hidden:checked ~ .form__label--green {
    color: $green;

}

