.photo {
    width: rem(140px);
    height: rem(140px);
    border-radius: 50%;
    overflow: hidden;
    z-index: 10;
    position: relative;

    &--small {
        width: rem(77px);
        height: rem(77px);
    }
}

