.welcome-btn {
    display: inline-block;
    padding: rem(15px) rem(25px);
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;

    &:hover, &:focus {
        background-color: $green;
        border: 1px solid transparent;
    }

}