footer.footer
    .footer__column.footer__column--top
        p.footer__text Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. 
    .footer__column.footer__column--top
        .footer__nav
            +nav(1)
        .footer__socials
            include socials.pug
    .footer__column.quote.footer__column--bottom
        blockquote.quote__text Talk is cheap. Show me the code.
        cite.quote__author ― Linus Torvalds
.copyright.copyright--footer 
    span.copyright__name © Екатерина Леонидова  
    span.copyright__place создано с любовью в LoftSchool | 2018
    